*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.banner
{
    height: 550px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 20px;
}
.box1
{
    height: 400px;
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: black;
    border: 1px solid black;

}

.box2
{
    height: 400px;
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: black;
    border: 1px solid black;

}
.box3
{
    height: 400px;
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: black;
    border: 1px solid black;
}